.item-done {
    color: rgba(10, 255, 0, 255);
    white-space: normal;
}

.title {
    -unity-text-align: upper-center;
    -unity-font-style: bold;
}

.item-notdone {
    color: rgba(255, 0, 3, 255);
}

.short-toggle Label {
    width: 120px;
    min-width: 120px;
}

.red-toggle Label {
    color: rgba(255, 0, 0, 255);
}

.green-toggle Label {
    color: rgba(0, 255, 0, 255);
}
